.about {
    margin: 12px;
    margin-left: 20px;
}

.about h3 {
    margin-bottom: 20px;
    margin-top: 25px;
    padding-bottom: 5px;
    border-bottom: 2px #333333 solid;
    display: inline-block;
    
}

.about h4 {
    margin-bottom: 15px;
}

.about p {
    width: 75%;
}